body {
    font-family: 'Arial', sans-serif;
    background-color: #008080;
    color: black;
    margin: 0;
    padding: 0;
}


.window-container {
    border: 2px solid #c0c0c0;
    margin: 5% auto;
    max-width: 600px;
    width: 90%;
    background-color: #c0c0c0;
    box-shadow: 3px 3px 0px #888888;
}

.window-header {
    background-color: #000080;
    color: white;
    padding: 5px 10px;
    font-size: 1.2em;
    display: flex;
    align-items: center;
  user-select: none; 
  cursor: grab;
}

.window-title {
    flex-grow: 1;
}

.close-button {
    background-color: #C0C0C0;
    color: black;
    border: none;
    cursor: pointer;
    padding: 0 5px;
    font-size: 0.8em;
}

.window-content {
    padding: 20px;
    background-color: white;
}

a {
    color: blue;
    text-decoration: underline;
}


a:hover {
    text-decoration: none;
}

.system-font {
    font-family: 'Courier New', monospace;
}

.pdf-icon {
    vertical-align: middle;
    margin-left: 5px;
    fill: #D40000;
}

.error-window {
    margin-top: 20px; 
}

.error-window .window-header {
    background-color: #8B0000;
}

.error-window .window-content {
    background-color: #FFF0F0; 
    color: black;
}

.bootup-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;

    font-family: 'Courier New', monospace;

    z-index: 9999;
}

.shutdown-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: bisque;
    display: flex;
  justify-content: center;
  padding-top:50px;

    font-family: 'Courier New', monospace;

    z-index: 9999;
  display: none;
}

.shutdown-screen.present {
  display:flex;
}

.fade-out {
    animation: fadeOut 0.1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}


.bootup-screen .boot-text {
      font-family: 'Courier New', monospace; 
    white-space: pre; 
    font-size: larger; 
    position: absolute;
    height:1000px;
    overflow: hidden;
}


.bootup-screen .boot-text.scroll {
    animation: scrollBootText 3s  steps(1);
} 
@keyframes scrollBootText {
    0% {
        height: 100px;
    }
    40% {
      height: 450px;  
    }
    70%  {
        height: 500px;
    }
    90%  {
        height: 1000px;
    }
}

.bootup-screen .boot-text p {
    margin: 5px 0;
}

@keyframes refresh{0%{bottom:100%}75%{bottom:0px}100%{bottom:0px}}
.refresh {
  
float: left;
width: 200%;
height: 100px;
z-index: 8;
background: linear-gradient(0deg,rgba(0,0,0,0) 0,rgba(255,255,255,.4) 10%,rgba(0,0,0,.1) 100%);
opacity: .1;
position: fixed;
bottom: 0;
animation: refresh 8s linear infinite;
animation-name: refresh;
animation-duration: 15s;
animation-timing-function: linear;
animation-delay: 0s;
animation-iteration-count: infinite;
animation-direction: normal;
animation-fill-mode: none;
animation-play-state: running;
}

.window-content {
  display: flex;
  flex-direction: column;
    align-items: center; 
}

  .photo {
    width: 100%;
    max-width: 350px;
    margin-bottom: 30px;
  }

  .window-text {
    width:100%;
  }

@media (min-width: 540px) {
  .window-content {
    flex-direction: row-reverse; 
    justify-content: space-between; 
    align-items: flex-start; 
  }

  .photo {
    width: 200px; 
    margin-right: 20px; 
  }
}

.window-text p:first-child {
    margin-top: 0;
}