@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@font-face {
  font-family: 'WIN95';
  src: url('../fonts/W95FA.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Virtue';
  src: url('../fonts/virtue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



:root {
  --color-black: rgba(0, 0, 0, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-bright-red: rgba(212, 0, 0, 1);
  --color-blue: rgba(0, 0, 255, 1);
  --color-bisque: rgba(255, 228, 196, 1);
}

body[os-theme="binbows"] {
  --color-teal: rgba(0, 128, 128, 1);
  --color-silver: rgba(192, 192, 192, 1);
  --color-light-gray: rgba(194, 194, 194, 1);
  --color-dark-gray: rgba(128, 128, 128, 1);
  --color-navy-blue: rgba(0, 0, 128, 1);
  --color-dark-red: rgba(139, 0, 0, 1);
  --color-very-pale-red: rgba(255, 240, 240, 1);
  --color-medium-gray: rgba(140, 140, 140, 1);
  --color-gray: rgba(222, 222, 222, 1);




  --font-family-headings: 'WIN95', 'Arial', sans-serif;
  --font-family-body: 'Arial', sans-serif;
  --font-family-monospace: 'Courier New', monospace;
  --font-family-serif: 'Times New Roman', Times, serif;
  --window-content-margin: 3px;
  --window-background-color-window: var(--color-silver);

  --window-content-border-left: 1px solid var(--color-black);
  --window-content-border-top:  1px solid var(--color-black);
  --window-content-border-right: 1px solid var(--color-light-gray);
  --window-content-border-bottom: 1px solid var(--color-light-gray);
  --window-content-box-shadow: 1px 1px var(--color-white), -1px -1px var(--color-dark-gray);

 
  --window-content-font-family: var(--font-family-body);
  --background-color-body: var(--color-teal);
  --color-default-text: var(--color-black);
  --header-title-text-colour: var(--color-white);
  --border-color-window: var(--color-silver);
  --window-container-outline: none;
  --window-container-box-shadow: 1px 1px var(--color-medium-gray), 2px 2px var(--color-black), -1px -1px var(--color-gray), -2px -2px var(--color-white), -2px 2px var(--color-white),  2px -2px var(--color-black);

  --box-shadow-color: rgba(136, 136, 136, 1);
  --window-header-background: var(--color-navy-blue);
  --window-header-padding: 5px 5px;
  --close-button-background: var(--color-silver);
  --close-button-background-image: url(../images/alt-windows-close.svg);
  --link-color: var(--color-blue);
  --error-background: var(--color-dark-red);
  --error-content-background: var(--color-very-pale-red);
  --bootup-shutdown-background: var(--color-black);
  --shutdown-color: var(--color-bisque);
  --pdf-icon-color: var(--color-bright-red);
  --title-text-align: left;
  --window-title-justify-content: left;
  --window-header-fontsize: 1.2em;
  --handle-display: none;
  --window-header-flex-direction: row;
  --window-header-margin: 2px;
  --close-text-display: inline;

  --window-object-count-border-left: 1px solid var(--color-dark-gray);
  --window-object-count-border-right: 1px solid var(--color-white);
  --window-object-count-border-top: 1px solid var(--color-dark-gray);
  --window-object-count-border-bottom: 1px solid var(--color-white);
  --window-object-count-font: var(--font-family-headings);
  --window-object-count-margin: 2px;
  --window-object-count-padding: 5px;
  --window-object-count-display: block;
  --window-object-count-box-shadow: none;
  --window-object-count-background: none;
  --window-object-count-text-align: left;

  --startup-window-image: url(/images/windows_logo.svg);
  --startup-window-text: 'Binbows 95';

  --progress-background: url(/images/binbows-progress-background.svg) 0% 0% / contain repeat-x;
  --progress-height: calc(100% - 2px);

  --window-object-count-binbows-text-display: inline;
  --window-object-count-whack-text-display: none;

  //replace with web component functionality
  --binbows-shutdown-content-display: block;
  --whack-shutdown-content-display: none;

  

}


body[os-theme="whack"] {
  --color-dark-gray: rgba(38, 38, 38, 1);
  --another-grey: rgb(128, 128, 128); //todo name
  --color-medium-dark-gray: rgba(138, 138, 138, 1);
  --color-light-blue: rgba(84, 103, 156, 1);
  --color-lighter-gray: rgba(186, 186, 186, 1);
  --acolor: rgba(204, 204, 204, 1); // fix this name
  --color-very-light-gray: rgba(237, 237, 237, 1);
  --box-shadow-color: none;

  --bootup-color: rgba(136, 136, 136, 1);

  --font-family-headings: 'Virtue', sans-serif;
  --font-family-body: 'Arial', sans-serif;
  --font-family-monospace: 'Courier New', monospace;

    --font-family-serif: 'EB Garamond', Georgia, serif;
  --window-content-margin: 5px;
  --window-content-outline: none;
  --window-content-border: 1px solid var(--color-dark-gray);
  --window-content-border-left: var(--window-content-border);
  --window-content-border-top: var(--window-content-border);
  --window-content-border-right: var(--window-content-border);
  --window-content-border-bottom: var(--window-content-border);
  --window-content-box-shadow: -1px -1px var(--color-medium-dark-gray), 1px 1px var(--color-white);
  --window-content-font-family: 'geneva', sans-serif;
  --window-background-color-window: var(--window-header-background);
  --background-color-body: var(--color-light-blue);
  --color-default-text: var(--color-black);
  --header-title-text-colour: var(--color-black);
  --border-color-window: var(--color-lighter-gray);
  --window-container-outline: 1px solid var(--color-dark-gray);
  --window-container-box-shadow: 3px 3px 0px var(--box-shadow-color); 
  --window-header-background: var(--acolor);
  --window-header-padding: 4px 4px;
  --close-button-background: var(--border-color-window);
  --close-button-background-image: url(../images/mac-close.svg);
  --link-color: var(--color-blue);
  --error-background: inherit;
  --error-content-background: var(--color-white);
  --bootup-shutdown-background: var(--color-black);
  --shutdown-color: var(--color-bisque);
  --pdf-icon-color: var(--color-bright-red);
  --title-text-align: center;
  --window-title-justify-content: center;
  --window-header-fontsize: 1.0em;
  --handle-display: block;
  --window-header-flex-direction: row-reverse;
  --window-header-margin: 0;
  --close-text-display: none;

  --window-object-count-border-left: var(--window-content-border);
  --window-object-count-border-right: var(--window-content-border);
  --window-object-count-border-top: var(--window-content-border);
  --window-object-count-border-bottom: var(--window-content-border);
  --window-object-count-font: var(--window-content-font-family);
  --window-object-count-margin: -6px 5px 4px 5px;
  --window-object-count-padding: 0;
  --window-object-count-display: block;
  --window-object-count-box-shadow: 1px 1px var(--color-white), -1px 0px var(--another-grey);
  --window-object-count-background: var(--color-very-light-gray);
  --window-object-count-text-align: center;
  
  --startup-window-image:  url(/images/placeholder-logo.png);
  --startup-window-text: 'Whack OS 9.2';

  --window-object-count-binbows-text-display: none;
  --window-object-count-whack-text-display: inline;

  --progress-bar-box-shadow: white -2px -2px 0px 0px inset, var(--another-grey) 2px 2px 0px 0px inset;    
  --progress-background: var(color-lighter-gray);

  --progress-border:  1px solid rgb(12, 12, 94);
  --progress-background: rgb(141, 141, 242);
  --progress-height: calc(100% - 2px);
  --progress-box-shadow: rgb(38, 38, 135) 0px 0px 8px 2px inset;

  //replace with web component functionality
  --binbows-shutdown-content-display: none;
  --whack-shutdown-content-display: block;

}

#main-window {
  display: none;
}

.booted #main-window {
  display: block;
}

.error #error-window {
  display: block;
}

.shutdown .shutdown-screen {
  display: flex;
}

body:not(.booting){
  #bootup-screen-whack{
    animation: fadeOut 0.1s;
    animation-fill-mode: forwards;
  }

  #bootup-screen{
    animation: fadeOut 0.1s;
    animation-fill-mode: forwards;
  }

  #bootup-screen-whack{
    display: none;
  }
}


.window-title {
  display: flex;
  justify-content: var(--window-title-justify-content);
  position: relative; /* Needed if you want the handles to be absolutely positioned */
}

.window-title-text {
  padding: 0px 10px;
}


.handle {
  flex-grow: 1;
  background-color: #ccc;

  background-image: linear-gradient(0deg, rgba(221, 221, 221, 1) 25%, rgba(153, 153, 153, 1) 25%, rgba(153, 153, 153, 1) 50%, rgba(221, 221, 221, 1) 50%, rgba(221, 221, 221, 1) 75%, rgba(153, 153, 153, 1) 75%, rgba(153, 153, 153, 1) 100%);
  background-size: 8.00px 8.00px;

  display: var(--handle-display);
}



.pre-handle {


  background-image: linear-gradient(0deg, rgba(238, 238, 238, 1) 25%, #999999 25%, #999999 50%, rgba(238, 238, 238, 1) 50%, rgba(238, 238, 238, 1) 75%, #999999 75%, #999999 100%);
  background-size: 8.00px 8.00px;
  width: 2px;
  display: var(--handle-display);
}

.post-handle {


  background-image: linear-gradient(0deg, rgba(197, 197, 197, 1) 25%, #999999 25%, #999999 50%, rgba(197, 197, 197, 1) 50%, rgba(197, 197, 197, 1) 75%, #999999 75%, #999999 100%);
  background-size: 8.00px 8.00px;
  width: 2px;
  display: var(--handle-display);
}

body {
  font-family: var(--font-family-headings);
  background-color: var(--background-color-body);
  color: var(--color-default-text);
  margin: 0;
  padding: 0;
}

.window-container {
  border: 2px solid var(--border-color-window);
  outline: var(--window-container-outline);
  margin: 5% auto;
  max-width: 600px;
  width: 90%;
  background-color: var(--window-background-color-window);
  box-shadow: var(--window-container-box-shadow);
}

.window-header {
  background-color: var(--window-header-background);
  color: var(--header-title-text-colour);
  padding: 5px 10px;
  padding: var(--window-header-padding);
  font-size: var(--window-header-fontsize);
  display: flex;
  flex-direction: var(--window-header-flex-direction);
  align-items: center;
  user-select: none;
  cursor: grab;
  align-items: stretch;
  margin: var(--window-header-margin);
}

.window-title {
  flex-grow: 1;
  text-align: var(--title-text-align);
}

.close-button {
  background-color: var(--close-button-background);
  background-image: var(--close-button-background-image);

  color: var(--color-black);
  border: none;
  cursor: pointer;
  background-size: cover;
  font-size: 0.8em;
  min-width: 22px;
}

.close-text{
  display: var(--close-text-display);
}


.window-content {
  padding: 20px;
  background-color: var(--color-white);
  margin: var(--window-content-margin);
  outline: var(--window-content-outline);
  border: var(  --window-content-border);
  border-left: var(--window-content-border-left);
  border-top: var(--window-content-border-top);
  border-right: var(--window-content-border-right);
  border-bottom: var(--window-content-border-bottom);
  font-family: var(--window-content-font-family);
  box-shadow: var(--window-content-box-shadow);
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.system-font {
  font-family: var(--font-family-monospace);
}

.pdf-icon {
  vertical-align: middle;
  margin-left: 5px;
  fill: var(--pdf-icon-color);
}

.error-window {
  margin-top: 20px;
  display: none;

  .window-header {
    background-color: var(--error-background);
  }

  .window-content {
    background-color: var(--error-content-background);
    color: var(--color-black);
  }
}




body[os-theme="binbows"] .bootup-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bootup-shutdown-background);
  color: var(--color-white);
  display: flex;
  font-family: var(--font-family-monospace);
  z-index: 9999;
}

body[os-theme="whack"] {

  .bootup-screen-whack {
    background-color: var(--bootup-color);
    justify-content: center;
    //padding-top: 35%;
    align-items: center;

    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    font-family: var(--font-family-monospace);
    z-index: 9999;

    img {
      height: 180px;
    }
  }

  .bootup-screen {
    display: none;
  }

}

.shutdown-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bootup-shutdown-background);
  color: var(--shutdown-color);
  display: flex;
  justify-content: center;
  padding-top: 50px;
  font-family: var(--font-family-monospace);
  z-index: 9999;
  display: none;

  .shutdown-content.whack {
    display: var(--whack-shutdown-content-display);
  }

  .shutdown-content.binbows {
    display: var(--binbows-shutdown-content-display);
  }
}

// .shutdown-screen.present {
//   display: flex;
// }

// .fade-out {
//   animation: fadeOut 0.1s;
//   animation-fill-mode: forwards;
// }

.startup-window {
  display: none;
  text-align: center;

  .window-content {
    font-family: var(--font-family-serif);
    flex-direction: column;
    align-items: center;
    font-size: clamp(12px, 11.5vw, 60px);
    img {
      max-width: 225px;
      width: 100%;
      content:var(--startup-window-image);
    }
    
    span::before {
      content: var(--startup-window-text);
    }
    
  }

    --window-content-margin: 15px 10px;
    .progress-bar {
      width: 100%;

      border: 1px solid var(--color-dark-gray);
      box-shadow: var(--progress-bar-box-shadow);    
      background: var(--progress-bar-background);

      height: 20px;
      position: relative;

      width: 60%;

      margin: 20px 20%;
    }
    
    .progress {
      border: var(--progress-border);
      background:var(--progress-background);
      height: var(--progress-height);
      box-shadow: var(--progress-box-shadow);
    }
  }

  .splash-screen-time .startup-window {
    display: block;
  }

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.bootup-screen .boot-text {
  white-space: pre;
  font-size: larger;
  position: absolute;
  height: 1000px;
  overflow: hidden;
}

.bootup-screen .boot-text.scroll {
  animation: scrollBootText 1.5s steps(1);
}

@keyframes scrollBootText {
  0% {
    height: 100px;
  }

  40% {
    height: 450px;
  }

  70% {
    height: 500px;
  }

  90% {
    height: 1000px;
  }
}

.bootup-screen .boot-text p {
  margin: 5px 0;
}
@keyframes refresh{0%{bottom:100%}75%{bottom:0px}100%{bottom:0px}}

.refresh {
  float: left;
  width: 200%;
  height: 100px;
  z-index: 8;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0, rgba(255, 255, 255, .4) 10%, rgba(0, 0, 0, .1) 100%);
  opacity: .1;
  position: fixed;
  bottom: 0;
  animation: refresh 15s linear infinite;
}

.window-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.window-object-count {
  border-left: var(--window-object-count-border-left);
  border-right: var(--window-object-count-border-right);
  border-top: var(--window-object-count-border-top);
  border-bottom: var(--window-object-count-border-bottom);
  margin: var(--window-object-count-margin);
  padding: var(--window-object-count-padding);
  display: var(--window-object-count-display);
  box-shadow: var(--window-object-count-box-shadow);
  background: var(--window-object-count-background);
  font-family: var(--window-object-count-font);
  text-align: var(--window-object-count-text-align);
}

.window-object-count-binbows-text{
  display: var(--window-object-count-binbows-text-display);
}

.window-object-count-whack-text{
  display: var(--window-object-count-whack-text-display);
}


.photo-frame {
  width: 100%;
  padding-top: 100%;
  position: relative;
  margin-bottom: 30px;
}

.photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.window-text {
  width: 100%;
}

@media (min-width: 540px) {
  .window-content {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }

  .photo-frame {
    min-width: 180px;
    max-width: 200px;
    padding: 0;
    aspect-ratio: 1/1;
  }

  .startup-window{
    --window-content-margin: 35px 50px;
  }

}

.window-text p:first-child {
  margin-top: 0;
}

.window-container {
  animation: glitch 6s linear infinite;
}

@keyframes glitch {

  90.2%,
  96.4% {
    transform: translate(2px, 0) skew(0deg);
  }

  94%,
  96% {
    transform: translate(-2px, 0) skew(0deg);
  }

  96.2% {
    transform: translate(0, 0) skew(5deg);
  }
}

.window-container:before,
.window-container:after {
  content: '';
  position: absolute;
  left: 0;
}

.window-container:before {
  animation: glitchTop 5s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {

  90.2%,
  96.4% {
    transform: translate(2px, -2px);
  }

  90.4%,
  96% {
    transform: translate(-2px, 2px);
  }

  96.2% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

.window-container:after {
  animation: glitchBottom 7.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}



@keyframes glitchBottom {

  90.2%,
  64% {
    transform: translate(-2px, 0);
  }

  90.4%,
  96% {
    transform: translate(-2px, 0);
  }

  96.2% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}

@keyframes fillProgressBarRandomly {
  0% {
      width: 0%;
  }
  25% {
      width: 10%;
  }
  50% {
      width: 15%;
  }
  75% {
      width: 87%;
  }
  100% {
      width: 100%;
  }
}

.progress {
  animation: fillProgressBarRandomly 2.5s forwards;
}
